html
  body
    h1 계정 등록
    form(action="/auth/register", method="post")
      p
        input(type="text", name="username", placeholder="username")
      p
        input(type="text", name="password", placeholder="password")
      p
        input(type="text", name="nickname", placeholder="nickname")
      p
        input(type="submit")